<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fulls d'estil: Call referenciar-los a partir de la URL de base -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/main.css">

    <!-- Afegim el títol a la finestra-->
    <title>{{if .Title }}{{ .Title}}{{else}}{{ .Site.Title }}{{end}}</title>
</head>

<body>
    <!-- Capçalera de la pàgina -->
    <div class="header-container">
        <header>
            <a href="{{.Site.BaseURL}}">
                <h1 class="title">{{.Site.Title}}</h1>
            </a>
        </header>
        <!-- Afegim a la capçalera un menú de navegació general-->
        {{ if .Site.Menus.main }}
        <ul>
            {{ range .Site.Menus.main }}
            <li class="mainNavigation">
                <a href="{{ .URL }}" title="{{ .Name }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>

    <!-- I comencem aci el contenidor principal -->
    <div class="main-container">